<!DOCTYPE html>
<html>
    <head>
        <title>JWT-Decoder Client</title>
        <link rel="icon" href="/img/icon.ico">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Decode your JWT tokens!</p>
            <form>
                <input placeholder="Location">
                <button>Decode Token</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>
